{% extends 'userview/base.html' %}
{% load static %}
{% block content %}


        <!-- Breadcrumb Start -->
        <div class="breadcrumb-wrap">
            <div class="container-fluid">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'userindex' %}">Home</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'productlist' %}">Products</a></li>
                    <li class="breadcrumb-item active">Wishlist</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumb End -->

        <!-- Wishlist Start -->
        <div class="wishlist-page">
            <div class="container-fluid">
                <div class="wishlist-page-inner">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>Image</th>
                                            <th>Product</th>
                                            <th>Price</th>

                                            <th>Add to Cart</th>
                                            <th>Remove</th>
                                        </tr>
                                    </thead>
                                    <tbody class="align-middle">
                                       {% for i in items  %}
                                        <tr>

                                            <td>
                                                <div class="img">
                                                    <a href="#"><img src="{{i.product.product.product_image.url}}" alt="Image" width="50" height="50"></a>

                                                </div>
                                            </td>
                                            <td> <p>{{i.product.variant_name}}</p></td>
                                            <td> <p>{{i.product.product_price}}</p></td>

                                            <td><a href="{% url 'productdetail' i.product.id %}" class="btn btn-secondary">View Detail</a></td>
                                              <td><a class="btn btn-danger" href="{% url 'remove_wishlist' i.product.id %}" onclick="return confirm('Do you want to delete the item from your wishlist?')"><i class="fa fa-trash"></i></a></td>


                                        </tr>
                                    {% endfor %}


                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
{% endblock %}