{% extends 'adminview/base.html' %}
{% load static %}

{% block content %}


<div class="container-fluid mt-5">
    <div class="card border">
        <div class="card-header bg-light">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6 text-center">
                    <h2 class="text-uppercase">Edit Edition</h2>
                </div>
            </div>
        </div>

        <div class="card-body">
            <h5 class="card-title text-dark mb-4">Edition Details</h5>

            <!-- Edit edition form -->
            <form enctype="multipart/form-data" method="post" class="border p-4 rounded">
                {% csrf_token %}
                <div class="row mb-4">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="editionName" class="form-label">Edition Name</label>
                            <input type="text" id="editionName" value="{{ edition.edition_name }}" class="form-control" name="name" required/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="editionDesc" class="form-label">Description</label>
                            <textarea class="form-control" id="editionDesc" rows="4" name="description">{{ edition.edition_desc }}</textarea>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="editionPublisher" class="form-label">Edition Publisher</label>
                            <input type="text" id="editionPublisher" value="{{ edition.publisher }}" class="form-control" name="publisher" required/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="editionYear" class="form-label">Edition Year</label>
                            <input type="text" id="editionYear" value="{{ edition.year }}" class="form-control" name="year" required/>
                        </div>
                    </div>
                </div>
                <!-- Submit button -->
                <div class="text-center">
                    <button type="submit" class="btn btn-primary btn-lg px-5">Update</button>
                </div>
            </form>
            <!-- Edit edition form end -->
            <hr />
        </div>
    </div>
</div>

    <!-- Bootstrap JS -->

{% endblock %}