{% extends 'adminview/base.html' %}
{% load static %}

{% block content %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-light">
                    <h2 class="card-title text-center">EDIT AUTHOR</h2>
                </div>
                <div class="card-body bg-grey">
                    <form enctype="multipart/form-data" method="post" style="border:1px solid black">
                        {% csrf_token %}
                        <div class="row mb-4">
                            <div class="col">
                                <div class="form-outline">
                                    <label class="form-label" for="authorName">Author Name</label>
                                    <input type="text" id="authorName" value="{{ author.author_name }}" class="form-control bg-grey text-black" name="name" required/>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-md-4">
                                <div class="mb-4 d-flex justify-content-center align-items-center gap-3">
                                    <label for="currentFile" class="form-label">Image</label>
                                    {% if author.author_image %}
                                    <img src="{{ author.author_image.url }}" alt="author image" style="width: 10vw;" id="currentFile" />
                                    {% endif %}
                                </div>
                                <div class="d-flex justify-content-center">
                                    <div class="mb-3">
                                        <input class="form-control bg-grey text-black" type="file" id="formFile" name="image">
                                        <label for="formFile" class="form-label">Choose your image</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Description input -->
                        <div class="form-outline mb-4">
                            <label class="form-label" for="authorDesc">Description</label>
                            <textarea class="form-control bg-grey text-black" id="authorDesc" rows="4" name="description">{{ author.author_desc }}</textarea>
                        </div>
                        <!-- Submit button -->
                        <div class="text-end">
                            <button type="submit" class="btn-lg border-0 btn-success btn-block mb-4">Update</button>
                        </div>
                    </form>
                    <!-- Edit product form end -->
                    <hr />
                </div>
            </div>
        </div>
    </div>
</div>
    <!-- Bootstrap JS -->

{% endblock %}