{% extends 'adminview/base.html' %}
{% load static %}


{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-light">
                    <h2 class="card-title text-center">EDIT YOUR PRODUCT</h2>
                </div>
                <div class="card-body bg-grey">
                    <form enctype="multipart/form-data" method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="productName" class="form-label">Product Name</label>
                            <input type="text" class="form-control" id="productName" name="name" value="{{ book.product_name }}" required>
                        </div>
                        <div class="mb-3">
                            <label for="productImage" class="form-label">Product Image</label>
                            <input type="file" class="form-control" id="productImage" name="image">
                        </div>
                        {% if book.product_image %}
                        <div class="mb-3">
                            <label>Current Image</label><br>
                            <img src="{{ book.product_image.url }}" alt="Current Image" style="max-width: 200px;">
                        </div>
                        {% endif %}
                        <div class="mb-3">
                            <label for="productDesc" class="form-label">Description</label>
                            <textarea class="form-control" id="productDesc" rows="4" name="description" required>{{ book.product_desc }}</textarea>
                        </div>
                        <div class="mb-3">
                            <label for="productReview" class="form-label">Review</label>
                            <textarea class="form-control" id="productReview" rows="4" name="review" required>{{ book.review }}</textarea>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Update</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
    <!-- Bootstrap JS -->

{% endblock %}