
{% extends 'adminview/base.html' %}
{% load static %}

{% block content %}
 <div class="container mt-5">
<div class="container mt-5">
  <a href="{% url 'adminaddauthor' %}" class="btn btn-primary" data-toggle="modal" style="    float: inline-end;">
    Add Author
  </a>
</div>
     <div class="messages" style="color:red;">
         {% for message in messages %}
                                {{ message }}
                            {% endfor %}
     </div>

        <h2 class="mb-4">Author Details</h2>
<table class="table table-bordered">
   <thead class="table-body">
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">AUTHOR NAME</th>
                                <th scope="col">DESCRIPTION</th>
                                <th scope="col">IMAGE</th>
                                 <th scope="col">STATUS</th>
                                <th scope="col" colspan="2">ACTION</th>


                            </tr>
                            </thead>
                            <tbody class="table-body">
                            {% for i in author %}

                            <tr class="data">
                                <td>{{i.id}}</td>

                                <td>{{ i.author_name }}</td>
                                <td>{{ i.author_desc }}</td>
                                <td>  <img src="{{ i.author_image.url }}" alt="category image" width="100" height="100"></td>
                                  <td>{% if i.is_active %}<span class="text-success">ACTIVE</span>{% else %}<span class="text-danger">BLOCK</span>{% endif %}</td>
        <td>
              <a class="btn btn-info"  href="{% url 'admineditauthor' i.id %}">UPDATE</a>
          <a href="{% url 'adminauthoraction' i.id %}">
            {% if i.is_active %}
            <span class="text-danger"> BLOCK </span>
            {% else %}
            <span class="text-success"> UNBLOCK </span>
            {% endif %}
          </a>
        </td>



                            </tr>



                            {% endfor %}
                            </tbody>
  </table>
    </div>



{% endblock %}
    <!-- Bootstrap JS -->