{% extends 'adminview/base.html' %}
{% load static %}
{% block js %}

<script src="{% static 'js/pdffile.js' %}"></script>


{% endblock js %}
{% block content %}
            <!-- Sales Chart Start -->
<!--            <div class="container-fluid pt-4 px-4">-->
<!--                <div class="row g-4">-->
<!--                    <div class="col-sm-12 col-xl-6">-->
<!--                        <div class="bg-light text-center rounded p-4">-->
<!--                            <div class="d-flex align-items-center justify-content-between mb-4">-->
<!--                                <h6 class="mb-0">Worldwide Sales</h6>-->
<!--                                <a href="">Show All</a>-->
<!--                            </div>-->
<!--                            <canvas id="worldwide-sales"></canvas>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-sm-12 col-xl-6">-->
<!--                        <div class="bg-light text-center rounded p-4">-->
<!--                            <div class="d-flex align-items-center justify-content-between mb-4">-->
<!--                                <h6 class="mb-0">Salse & Revenue</h6>-->
<!--                                <a href="">Show All</a>-->
<!--                            </div>-->
<!--                            <canvas id="salse-revenue"></canvas>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            &lt;!&ndash; Sales Chart End &ndash;&gt;-->


<!--            &lt;!&ndash; Recent Sales Start &ndash;&gt;-->
<!--            <div class="container-fluid pt-4 px-4">-->
<!--                <div class="bg-light text-center rounded p-4">-->
<!--                    <div class="d-flex align-items-center justify-content-between mb-4">-->
<!--                        <h6 class="mb-0">Recent Salse</h6>-->
<!--                        <a href="">Show All</a>-->
<!--                    </div>-->
<!--                    <div class="table-responsive">-->
<!--                        <table class="table text-start align-middle table-bordered table-hover mb-0">-->
<!--                            <thead>-->
<!--                                <tr class="text-dark">-->
<!--                                    <th scope="col"><input class="form-check-input" type="checkbox"></th>-->
<!--                                    <th scope="col">Date</th>-->
<!--                                    <th scope="col">Invoice</th>-->
<!--                                    <th scope="col">Customer</th>-->
<!--                                    <th scope="col">Amount</th>-->
<!--                                    <th scope="col">Status</th>-->
<!--                                    <th scope="col">Action</th>-->
<!--                                </tr>-->
<!--                            </thead>-->
<!--                            <tbody>-->
<!--                                <tr>-->
<!--                                    <td><input class="form-check-input" type="checkbox"></td>-->
<!--                                    <td>01 Jan 2045</td>-->
<!--                                    <td>INV-0123</td>-->
<!--                                    <td>Jhon Doe</td>-->
<!--                                    <td>$123</td>-->
<!--                                    <td>Paid</td>-->
<!--                                    <td><a class="btn btn-sm btn-primary" href="">Detail</a></td>-->
<!--                                </tr>-->
<!--                                <tr>-->
<!--                                    <td><input class="form-check-input" type="checkbox"></td>-->
<!--                                    <td>01 Jan 2045</td>-->
<!--                                    <td>INV-0123</td>-->
<!--                                    <td>Jhon Doe</td>-->
<!--                                    <td>$123</td>-->
<!--                                    <td>Paid</td>-->
<!--                                    <td><a class="btn btn-sm btn-primary" href="">Detail</a></td>-->
<!--                                </tr>-->
<!--                                <tr>-->
<!--                                    <td><input class="form-check-input" type="checkbox"></td>-->
<!--                                    <td>01 Jan 2045</td>-->
<!--                                    <td>INV-0123</td>-->
<!--                                    <td>Jhon Doe</td>-->
<!--                                    <td>$123</td>-->
<!--                                    <td>Paid</td>-->
<!--                                    <td><a class="btn btn-sm btn-primary" href="">Detail</a></td>-->
<!--                                </tr>-->
<!--                                <tr>-->
<!--                                    <td><input class="form-check-input" type="checkbox"></td>-->
<!--                                    <td>01 Jan 2045</td>-->
<!--                                    <td>INV-0123</td>-->
<!--                                    <td>Jhon Doe</td>-->
<!--                                    <td>$123</td>-->
<!--                                    <td>Paid</td>-->
<!--                                    <td><a class="btn btn-sm btn-primary" href="">Detail</a></td>-->
<!--                                </tr>-->
<!--                                <tr>-->
<!--                                    <td><input class="form-check-input" type="checkbox"></td>-->
<!--                                    <td>01 Jan 2045</td>-->
<!--                                    <td>INV-0123</td>-->
<!--                                    <td>Jhon Doe</td>-->
<!--                                    <td>$123</td>-->
<!--                                    <td>Paid</td>-->
<!--                                    <td><a class="btn btn-sm btn-primary" href="">Detail</a></td>-->
<!--                                </tr>-->
<!--                            </tbody>-->
<!--                        </table>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            &lt;!&ndash; Recent Sales End &ndash;&gt;-->


<!--            &lt;!&ndash; Widgets Start &ndash;&gt;-->
<!--            <div class="container-fluid pt-4 px-4">-->
<!--                <div class="row g-4">-->
<!--                    <div class="col-sm-12 col-md-6 col-xl-4">-->
<!--                        <div class="h-100 bg-light rounded p-4">-->
<!--                            <div class="d-flex align-items-center justify-content-between mb-2">-->
<!--                                <h6 class="mb-0">Messages</h6>-->
<!--                                <a href="">Show All</a>-->
<!--                            </div>-->
<!--                            <div class="d-flex align-items-center border-bottom py-3">-->
<!--                                <img class="rounded-circle flex-shrink-0" src="{% static 'dashboard/img/user.jpg' %}" alt="" style="width: 40px; height: 40px;">-->
<!--                                <div class="w-100 ms-3">-->
<!--                                    <div class="d-flex w-100 justify-content-between">-->
<!--                                        <h6 class="mb-0">Jhon Doe</h6>-->
<!--                                        <small>15 minutes ago</small>-->
<!--                                    </div>-->
<!--                                    <span>Short message goes here...</span>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="d-flex align-items-center border-bottom py-3">-->
<!--                                <img class="rounded-circle flex-shrink-0" src="{% static 'dashboard/img/user.jpg' %}" alt="" style="width: 40px; height: 40px;">-->
<!--                                <div class="w-100 ms-3">-->
<!--                                    <div class="d-flex w-100 justify-content-between">-->
<!--                                        <h6 class="mb-0">Jhon Doe</h6>-->
<!--                                        <small>15 minutes ago</small>-->
<!--                                    </div>-->
<!--                                    <span>Short message goes here...</span>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="d-flex align-items-center border-bottom py-3">-->
<!--                                <img class="rounded-circle flex-shrink-0" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">-->
<!--                                <div class="w-100 ms-3">-->
<!--                                    <div class="d-flex w-100 justify-content-between">-->
<!--                                        <h6 class="mb-0">Jhon Doe</h6>-->
<!--                                        <small>15 minutes ago</small>-->
<!--                                    </div>-->
<!--                                    <span>Short message goes here...</span>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="d-flex align-items-center pt-3">-->
<!--                                <img class="rounded-circle flex-shrink-0" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">-->
<!--                                <div class="w-100 ms-3">-->
<!--                                    <div class="d-flex w-100 justify-content-between">-->
<!--                                        <h6 class="mb-0">Jhon Doe</h6>-->
<!--                                        <small>15 minutes ago</small>-->
<!--                                    </div>-->
<!--                                    <span>Short message goes here...</span>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-sm-12 col-md-6 col-xl-4">-->
<!--                        <div class="h-100 bg-light rounded p-4">-->
<!--                            <div class="d-flex align-items-center justify-content-between mb-4">-->
<!--                                <h6 class="mb-0">Calender</h6>-->
<!--                                <a href="">Show All</a>-->
<!--                            </div>-->
<!--                            <div id="calender"></div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-sm-12 col-md-6 col-xl-4">-->
<!--                        <div class="h-100 bg-light rounded p-4">-->
<!--                            <div class="d-flex align-items-center justify-content-between mb-4">-->
<!--                                <h6 class="mb-0">To Do List</h6>-->
<!--                                <a href="">Show All</a>-->
<!--                            </div>-->
<!--                            <div class="d-flex mb-2">-->
<!--                                <input class="form-control bg-transparent" type="text" placeholder="Enter task">-->
<!--                                <button type="button" class="btn btn-primary ms-2">Add</button>-->
<!--                            </div>-->
<!--                            <div class="d-flex align-items-center border-bottom py-2">-->
<!--                                <input class="form-check-input m-0" type="checkbox">-->
<!--                                <div class="w-100 ms-3">-->
<!--                                    <div class="d-flex w-100 align-items-center justify-content-between">-->
<!--                                        <span>Short task goes here...</span>-->
<!--                                        <button class="btn btn-sm"><i class="fa fa-times"></i></button>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="d-flex align-items-center border-bottom py-2">-->
<!--                                <input class="form-check-input m-0" type="checkbox">-->
<!--                                <div class="w-100 ms-3">-->
<!--                                    <div class="d-flex w-100 align-items-center justify-content-between">-->
<!--                                        <span>Short task goes here...</span>-->
<!--                                        <button class="btn btn-sm"><i class="fa fa-times"></i></button>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="d-flex align-items-center border-bottom py-2">-->
<!--                                <input class="form-check-input m-0" type="checkbox" checked>-->
<!--                                <div class="w-100 ms-3">-->
<!--                                    <div class="d-flex w-100 align-items-center justify-content-between">-->
<!--                                        <span><del>Short task goes here...</del></span>-->
<!--                                        <button class="btn btn-sm text-primary"><i class="fa fa-times"></i></button>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="d-flex align-items-center border-bottom py-2">-->
<!--                                <input class="form-check-input m-0" type="checkbox">-->
<!--                                <div class="w-100 ms-3">-->
<!--                                    <div class="d-flex w-100 align-items-center justify-content-between">-->
<!--                                        <span>Short task goes here...</span>-->
<!--                                        <button class="btn btn-sm"><i class="fa fa-times"></i></button>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="d-flex align-items-center pt-2">-->
<!--                                <input class="form-check-input m-0" type="checkbox">-->
<!--                                <div class="w-100 ms-3">-->
<!--                                    <div class="d-flex w-100 align-items-center justify-content-between">-->
<!--                                        <span>Short task goes here...</span>-->
<!--                                        <button class="btn btn-sm"><i class="fa fa-times"></i></button>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!-- Widgets End -->
         <div class="row g-4">
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-line fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Order count</p>
                                <h6 class="mb-0">{{order_count}}</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-bar fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Order Total</p>
                                <h6 class="mb-0"><i class="fa-solid fa-indian-rupee-sign"></i><i class="fa-solid fa-indian-rupee-sign"></i>{{order_total}}</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-area fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Today Total Revenue</p>
                                <h6 class="mb-0"><i class="fa-solid fa-indian-rupee-sign"></i>₹ {% if today_revenue %} {{ today_revenue }} {% else %} 0 {% endif %}</h6>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-pie fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Today Sales Count</p>
                                <h6 class="mb-0">{{today_count}}</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-line fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Weekly Sales count</p>
                                <h6 class="mb-0">{{weekly_count}}</h6>
                            </div>
                        </div>
                    </div>
                     <div class="col-sm-6 col-xl-3">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-area fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Weekly Sales Revenue</p>
                                <h6 class="mb-0"><i class="fa-solid fa-indian-rupee-sign"></i>₹ {% if weekly_revenue %} {{ weekly_revenue }} {% else %} 0 {% endif %}</h6>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-bar fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Monthly Sales Count</p>
                                <h6 class="mb-0"><i class="fa-solid fa-indian-rupee-sign"></i><i class="fa-solid fa-indian-rupee-sign"></i>{{monthly_count}}</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-pie fa-3x text-primary"></i>
                            <div class="ms-3">
                                 <p class="mb-2">Monthly Sales Revenue</p>
                                <h6 class="mb-0"><i class="fa-solid fa-indian-rupee-sign"></i> {% if monthly_revenue %} {{ monthly_revenue }} {% else %} 0 {% endif %}</h6>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-pie fa-3x text-primary"></i>
                            <div class="ms-3">
                                 <p class="mb-2">Annual sales count</p>
                                <h6 class="mb-0"><i class="fa-solid fa-indian-rupee-sign"></i>{{current_yearly_count}}</h6>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-pie fa-3x text-primary"></i>
                            <div class="ms-3">
                                 <p class="mb-2">Annual sales revenue</p>
                                <h6 class="mb-0"><i class="fa-solid fa-indian-rupee-sign"></i>{{current_yearly_revenue}}</h6>

                            </div>
                        </div>
                    </div>
                     <div class="col-sm-6 col-xl-3">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-pie fa-3x text-primary"></i>
                            <div class="ms-3">
                                 <p class="mb-2">Total Discount sales</p>
                                <h6 class="mb-0"><i class="fa-solid fa-indian-rupee-sign"></i>{{common_discount}}</h6>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card bg-light">
        <div class="card-body">
          <h2 class="card-title">Yearly Sales</h2>
          <ul class="list-group">
            {% for sale in yearly_sales %}
              <li class="list-group-item">{{ sale.year }}: {{ sale.year_total }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card bg-light">
        <div class="card-body">
          <h2 class="card-title">Yearly Orders</h2>
          <ul class="list-group">
            {% for order in yearly_orders %}
              <li class="list-group-item">{{ order.year }}: {{ order.total_orders }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Monthly Sales</h2>
          <ul class="list-group">
            {% for sale in monthly_sales %}
              <li class="list-group-item">{{ sale.month_name }}: {{ sale.monthly_total }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Monthly Orders</h2>
          <ul class="list-group">
            {% for order in monthly_orders %}
              <li class="list-group-item">{{ order.month_name }}  : {{ order.total_orders }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-6 col-xl-6">
            <div class="bg-light rounded h-100 p-4" style="width:100%">
                <h6 class="mb-4">Most Selling Books</h6>
                <canvas id="myChart"></canvas>
            </div>
        </div>
         <div class="col-sm-6 col-xl-6">
            <div class="bg-light rounded h-100 p-4" style="width:100%">
                <h6 class="mb-4">Most Selling Category</h6>
                <canvas id="category"></canvas>
            </div>
        </div>
        <div class="col-sm-6 col-xl-6">
            <div class="bg-light rounded h-100 p-4" style="width:100%">
                <h6 class="mb-4">Yearly Sales</h6>
                <canvas id="yearlySalesChart"></canvas>
            </div>
        </div>
        <div class="col-sm-6 col-xl-6">
            <div class="bg-light rounded h-100 p-4" style="width:100%">
                <h6 class="mb-4">Monthly Sales</h6>
                <canvas id="monthlySalesChart" width="400" height="200"></canvas>
            </div>
        </div>
    </div>
</div>




      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: {{ book_names|safe }},
                datasets: [{
                    label: 'Total Quantity',
                    data: {{ quantities|safe }},
                    backgroundColor: 'rgba(54, 162, 235, 0.2)',
                    borderWidth: 0
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    </script>
 <script>
        var ctx = document.getElementById('category').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: {{ category_book_names|safe }},
                datasets: [{
                    label: 'Total Quantity',
                    data: {{ cat_quantities|safe }},
                    backgroundColor: 'rgba(54, 162, 235, 0.2)',
                    borderWidth: 0
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    </script>


<script>
    var ctx = document.getElementById('yearlySalesChart').getContext('2d');
    var yearlySalesChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: {{ all_years|safe }},
            datasets: [{
                label: 'Yearly Sales',
                data: {{ chart_data|safe }},
                backgroundColor: 'rgba(54, 162, 235, 0.2)',
                borderColor: 'rgba(54, 162, 235, 1)',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
</script>
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    var ctx = document.getElementById('monthlySalesChart').getContext('2d');
    var chartData = {
        labels: {{ chart_labels|safe }},
        datasets: [{
            label: 'Monthly Sales',
            data: {{ chart_datas|safe }},
            backgroundColor: 'rgba(54, 162, 235, 0.2)',
            borderColor: 'rgba(54, 162, 235, 1)',
            borderWidth: 1
        }]
    };
    var monthlySalesChart = new Chart(ctx, {
        type: 'bar',
        data: chartData,
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            },
            plugins: {
                datalabels: {
                    anchor: 'end',
                    align: 'top',
                    formatter: function(value, context) {
                        return '$' + value;  // Customize the format of the data label as needed
                    }
                }
            }
        }
    });
</script>

  </div>
</div>
<div class="container-fluid pt-4 px-4" style="background-color: white;" xmlns="http://www.w3.org/1999/html">
  <div class="bg-light rounded p-4">
    <div class="d-flex align-items-center justify-content-between mb-4">
      <h2 class="mb-0">Sales Reports</h2>
    <div class="d-flex flex-column gap-3">
    <button class="btn btn-sm btn-success" onclick="printTable()">Download PDF </button>
    <button class="btn btn-sm btn-success" onclick="exportReportToExcel()">Download Excel </button>
</div>

    </div>
    <div class="table-responsive">
      <div >

          <form action="" class="" method="POST">
            {% csrf_token %}
            <div class="row mb-3">
              <div class="col-sm-3">
                <label for="startDate" class="form-label">Start Date</label>
                <input type="date" class="form-control form-control-sm" id="startDate" name="startDate">
              </div>
              <div class="col-sm-3">
                <label for="endDate" class="form-label">End Date</label>
                <input type="date" class="form-control form-control-sm" id="endDate" name="endDate">
              </div>
              <div class="col-sm-3">
                <button type="submit" class="btn btn-primary" style="margin-top: 9%;">Filter</button>
              </div>
            </div>
              <!-- Yearly Sales Count Start -->

<!-- Yearly Sales Count End -->

          </form>
        <div style="max-height: 400px; overflow-y: auto;">
    <table class="table text-start align-middle table-bordered table-hover mb-2" id="orderTable">
        <thead class="mt-2">
            <tr class="text-dark">
                <th scope="col">Date</th>
                <th scope="col">Order ID</th>
                <th scope="col">Customer</th>
                <th scope="col">Product Name</th>
                 <th scope="col">Quantity</th>
                <th scope="col">Paid Amount</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <td>{{ order.order_id.created }}</td>
                <td>{{ order.order_id.order_id }}</td>
                <td>{{ order.user.email }}</td>
                <td>{{ order.product.variant_name|truncatechars:22 }}</td>
                 <td> {{ order.quantity }}</td>
                <td>₹ {{ order.order_id.order_total }}</td>
                <td>{{ order.order_id.status }}</td>
                <td><a class="btn btn-sm btn-success" href="{% url 'adminorderupdate' order.order_id.id %}">Detail</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

      </div>
    </div>
  </div>
</div>



            <!-- Footer Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="bg-light rounded-top p-4">
                    <div class="row">
                        <div class="col-12 col-sm-6 text-center text-sm-start">
                            &copy; <a href="#">Your Site Name</a>, All Right Reserved. 
                        </div>
                        <div class="col-12 col-sm-6 text-center text-sm-end">
                            <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                            Designed By <a href="https://htmlcodex.com">HTML Codex</a>
                        </div>
                    </div>
                </div>
            </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.3/jspdf.umd.min.js"></script>



{% endblock %}
            <!-- Footer End -->
