{% extends 'adminview/base.html' %}
{% load static %}

{% block content %}



<div class="container mt-5" style="width:50%">
        <h2>Add Book Variant</h2>
        <form id="addBookVariantForm" action="" method="post" enctype="multipart/form-data" onsubmit="return validateBookVariantForm()">
            {% csrf_token %}
            <div class="mb-3">
                <label for="categoryName" class="form-label">Select Category</label>
                <select class="form-select select2" id="categoryName" name="category" >
                    <option value="">Select Category</option>
                    {% for i in category %}
                    <option value="{{i.id}}">{{i.category_name}}</option>
                    {% endfor %}
                </select>
                <span class="text-danger" id="categoryError"></span>
            </div>
            <div class="mb-3">
                <label for="productName" class="form-label">Select Product</label>
                <select class="form-select select2" id="productName" name="product" >
                    <option value="">Select Product</option>
                    {% for i in product %}
                    <option value="{{i.id}}">{{i.product_name}}</option>
                    {% endfor %}
                </select>
                <span class="text-danger" id="productError"></span>
            </div>





            <div class="mb-3">
                <label for="offerName" class="form-label">Select Offer</label>
                <select class="form-select select2" id="offerName" name="offer" >
                    <option value="">Select Offer</option>
                    {% for i in offer %}
                    <option value="{{i.id}}">{{i.name}}</option>
                    {% endfor %}
                </select>
                <span class="text-danger" id="offerError"></span>
            </div>
            <div class="mb-3">
                <label for="editionName" class="form-label">Select Edition</label>
                <select class="form-select select2" id="editionName" name="edition" >
                    <option value="">Select Edition</option>
                    {% for i in edition %}
                    <option value="{{i.id}}">{{i.edition_name}}</option>
                    {% endfor %}
                </select>
                <span class="text-danger" id="editionError"></span>
            </div>
            <div class="mb-3">
                <label for="authorName" class="form-label">Select Author</label>
                <select class="form-select select2" id="authorName" name="author" >
                    <option value="">Select Author</option>
                    {% for i in author %}
                    <option value="{{i.id}}">{{i.author_name}}</option>
                    {% endfor %}
                </select>
                <span class="text-danger" id="authorError"></span>
            </div>
            <div class="mb-3">
                <label for="price" class="form-label">Price</label>
                <input type="number" class="form-control" id="price" name="price" >
                <span class="text-danger" id="priceError"></span>
            </div>
            <div class="mb-3">
                <label for="stock" class="form-label">Stock</label>
                <input type="number" class="form-control" id="stock" name="stock" >
                <span class="text-danger" id="stockError"></span>
            </div>
            <div class="mb-3">
                <label for="rating" class="form-label">Rating</label>
                <input type="number" class="form-control" id="rating" name="rating" >
                <span class="text-danger" id="ratingError"></span>
            </div>
            <div class="mb-3">
                <label class="text-danger">*Select three images for products*</label>
                <div class="mb-3">
                    <input class="form-control" type="file" id="formFile" multiple id="formFile" name="multipleImage">
                    <label for="formFile" class="form-label">Choose your image</label>
                </div>
                <span class="text-danger" id="imageError"></span>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <div class="row d-flex justify-content-center" style="align-items: center">
                <span class="text-danger fw-5">
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                </span>
            </div>
        </form>
    </div>

    <script>
        function validateBookVariantForm() {
            var category = document.getElementById("categoryName").value;
            var product = document.getElementById("productName").value;
            var offer = document.getElementById("offerName").value;
            var edition = document.getElementById("editionName").value;
            var author = document.getElementById("authorName").value;
            var price = document.getElementById("price").value;
            var stock = document.getElementById("stock").value;
            var rating = document.getElementById("rating").value;
            var image = document.getElementById("formFile").files.length;

            var error = false;

            // Clear previous error messages
            document.getElementById("categoryError").innerHTML = "";
            document.getElementById("productError").innerHTML = "";
            document.getElementById("offerError").innerHTML = "";
            document.getElementById("editionError").innerHTML = "";
            document.getElementById("authorError").innerHTML = "";
            document.getElementById("priceError").innerHTML = "";
            document.getElementById("stockError").innerHTML = "";
            document.getElementById("ratingError").innerHTML = "";
            document.getElementById("imageError").innerHTML = "";

            // Validate inputs
            if (category === "") {
                document.getElementById("categoryError").innerHTML = "Category is required";
                error = true;
            }
            if (product === "") {
                document.getElementById("productError").innerHTML = "Product is required";
                error = true;
            }
            if (offer === "") {
                document.getElementById("offerError").innerHTML = "Offer is required";
                error = true;
            }
            if (edition === "") {
                document.getElementById("editionError").innerHTML = "Edition is required";
                error = true;
            }
            if (author === "") {
                document.getElementById("authorError").innerHTML = "Author is required";
                error = true;
            }
            if (price === "") {
                document.getElementById("priceError").innerHTML = "Price is required";
                error = true;
            }else if (parseFloat(price) < 0) {
                document.getElementById("priceError").innerHTML = "Price must be a non-negative value";
                error = true;
            }
            if (stock === "") {
                document.getElementById("stockError").innerHTML = "Stock is required";
                error = true;
            }else if (parseFloat(stock) < 0) {
                document.getElementById("stockError").innerHTML = "Stock must be a non-negative value";
                error = true;
            }
            if (rating === "") {
                document.getElementById("ratingError").innerHTML = "Rating is required";
                error = true;
            }else if (parseFloat(rating) < 0) {
                document.getElementById("ratingError").innerHTML = "Stock must be a non-negative value";
                error = true;
            }
            if (image < 3) {
                document.getElementById("imageError").innerHTML = "Please select three images";
                error = true;
            }

            return !error;
        }
    </script>



{% endblock %}

