
{% extends 'userview/userprofile.html' %}
{% load static %}

 {% block inner_content %}
<div class="container">
  <div class="messages" style="color:red;">
         {% for message in messages %}
                                {{ message }}
                            {% endfor %}
     </div>
<div class="container">
  <a href="{% url 'addaddress' user.id %}" class="btn btn-primary" style="    float: inline-end;">
    Add Address
  </a>
</div>
    <div class="container">
    <h1>Address List</h1>
    <div class="row">
        {% for address in address %}
        <div class="col-md-4">
            <div class="card mb-3">
                <div class="card-body">
                     <div class="dropdown position-absolute" style="top: 0; right: 0;">
                      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <!-- Three-dot icon -->
                        ⋮
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <!-- Update option -->
                        <a class="dropdown-item" href="{% url 'updateaddress' id=address.id o_id=0 %}">Update</a>
                        <!-- Delete option -->
                        <a class="dropdown-item" href="{% url 'deleteaddress' address.id %}">Delete</a>
                      </div>
                    </div>
                    <h5 class="card-title">{{ address.name }}</h5>
                    <p class="card-text">Address: {{ address.address }}</p>
                    <p class="card-text">Town: {{ address.town }}</p>
                     <p class="card-text">Mobile: {{ address.alt_mobile }}</p>
                    <p class="card-text">Zipcode: {{ address.zipcode }}</p>
                    <p class="card-text">Location: {{ address.nearby_location }}</p>
                    <p class="card-text">District: {{ address.district }}</p>
                    <p class="card-text">State: {{ address.state }}</p>
                    <!-- Add other fields as needed -->
                </div>
<!--               <div class="container">-->
<!--  <a href="{% url 'deleteaddress' address.id %}" class="btn btn-primary" style="    float: inline-end;">-->
<!--    Delete Address-->
<!--  </a>-->
<!--
<!--    Update Address-->
<!--  </a>-->
<!--</div>-->







            </div>
        </div>
        {% endfor %}
    </div>
</div>
</div>
{% endblock %}
