{% extends 'userview/base.html' %}
{% load static %}
{% block content %}
<h2 class="text-center mt-5"> <u>Account verification</u>  </h2>
  <div class="container p-5">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="text-center">
                    <div class="card text-center p-5">
                        <form action="" method="POST">
                            {% csrf_token %}
                            <div class="card-header mb-4">
                                <p>Please enter you mail </p>
                            </div>
                            <div class="card-body">
                                <input class="mt-5 form-control" type="password" name="password" placeholder="Password">
                                 <input class="mt-5 form-control" type="password" name="cpassword" placeholder="confirm password">
                               <input type="hidden" name="user_id" value="{{user_id}}">
                                <button class="btn btn-warning mt-3" type="submit">Submit</button>
                            </div>

                                 <div>
                          {% if messages %}
                           {% for message in messages %}
                          {% if message.tags == 'info' %}
                              <div class="info-message">{{ message }}</div>

                          {% else %}
                              <div>{{ message }}</div>
                          {% endif %}
                          {% endfor %}
                       {% endif %}
             </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}