
{% extends 'userview/userprofile.html' %}
{% load static %}

 {% block inner_content %}
      <div class="messages" style="color:red;">
                                     {% for message in messages %}
                                                            {{ message }}
                                                        {% endfor %}
                                 </div>
<h4>Password change</h4>
                                <div class="row">

                                   <form method="post" action="{% url 'changeuserpassword' %}">
                                       {% csrf_token %}
                                        <div class="col-md-12">
                                        <input class="form-control" type="text" placeholder="Old Password" name="oldpassword" required style="margin-bottom: 19px;width:300%;height:50px">
                                    </div>
                                    <div class="col-md-12">
                                        <input class="form-control" type="text" placeholder="New Password" name="newpassword" required style="margin-bottom: 19px;width:300%;height:50px">
                                    </div>
                                    <div class="col-md-12">
                                        <input class="form-control" type="text" placeholder="Confirm Password" name="confirmpassword" required style="margin-bottom: 19px;width:300%;height:50px">
                                    </div>
                                    <div class="col-md-12">
                                        <button class="btn">Save Changes</button>
                                    </div>
                                   </form>
                                </div>

{% endblock %}