{% extends 'userview/base.html' %}
{% load static %}
{% block content %}
<h2 class="text-center mt-5"> <u>Account verification</u>  </h2>
  <div class="container p-5">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="text-center">
                    <div class="card text-center p-5">
                        <form action="" method="post">
                            {% csrf_token %}
                            <div class="card-header mb-4">
                                <p>Please enter you mail </p>
                            </div>

                                                           <div class="messages" style="color:red;text-align:center">
                                                                 {% for message in messages %}
                                                                                        {{ message }}
                                                                                    {% endfor %}
                                                             </div>
                            <div class="card-body">
                                <input class="mt-5 form-control" type="text" name="email" placeholder="Enter your mail">
                                <button class="btn btn-warning mt-3" type="submit">Submit</button>
                            </div>


                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}