{% extends 'userview/base.html' %}
{% load static %}
{% block content %}
<h2 class="text-center mt-5"> <u>Account verification</u>  </h2>
  <div class="container p-5">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="text-center">
                    <div class="card text-center p-5">
                        <form action="" method="post">
                            {% csrf_token %}
                            <div class="card-header mb-4">
                                <p> An OTP has been send to  your account </p>
                            </div>
                            <div class="card-body">
                                <h5 class="nb-4 card-title">User email address :</h5> <h4 class="card-text"> {{ user.email }} </h4>
                                <input class="mt-5 form-control" type="text" name="otp" placeholder="Enter your 6 digit OTP">
                                <button class="btn btn-warning mt-3" type="submit">Submit</button>
                            </div>
                            <div class="card-footer text-muted">

                                <a href="{% url 'regenerateotp' user.id %}" class="btn btn-primary">Regenerate OTP</a>
                            </div>

                                                           <div class="messages" style="color:red;text-align:center">
                                                                 {% for message in messages %}
                                                                                        {{ message }}
                                                                                    {% endfor %}
                                                             </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}