
{% extends 'userview/base.html' %}
{% load static %}
{% block content %}
        <div class="checkout">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="checkout-inner">
                            <div class="billing-address">
                                <h2>Deliver to this Address</h2>

        <div class="col-md-12">
            <div class="card mb-12">
                <div class="card-body">
                     <div class="dropdown position-absolute" style="top: 0; right: 0;">
                      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <!-- Three-dot icon -->
                        ⋮
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                       <a class="dropdown-item" href="{% url 'updateaddress' id=address.id o_id=1 %}">Update</a>
<!--                      -->
                      </div>
                    </div>
                    {% if address%}
                    <h5 class="card-title">{{ address.name }}</h5>
                    <p class="card-text">Address: {{ address.address }}</p>
                    <p class="card-text">Town: {{ address.town }}</p>
                     <p class="card-text">Mobile: {{ address.alt_mobile }}</p>
                    <p class="card-text">Zipcode: {{ address.zipcode }}</p>
                    <p class="card-text">Location: {{ address.nearby_location }}</p>
                    <p class="card-text">District: {{ address.district }}</p>
                    <p class="card-text">State: {{ address.state }}</p>

                    {% endif %}
                    <!-- Add other fields as needed -->
                </div>








            </div>
        </div>

<!--                                <div class="row">-->
<!--                                    <div class="col-md-6">-->
<!--                                        <label>First Name</label>-->
<!--                                        <input class="form-control" type="text" placeholder="First Name">-->
<!--                                    </div>-->
<!--                                    <div class="col-md-6">-->
<!--                                        <label>Last Name"</label>-->
<!--                                        <input class="form-control" type="text" placeholder="Last Name">-->
<!--                                    </div>-->
<!--                                    <div class="col-md-6">-->
<!--                                        <label>E-mail</label>-->
<!--                                        <input class="form-control" type="text" placeholder="E-mail">-->
<!--                                    </div>-->
<!--                                    <div class="col-md-6">-->
<!--                                        <label>Mobile No</label>-->
<!--                                        <input class="form-control" type="text" placeholder="Mobile No">-->
<!--                                    </div>-->
<!--                                    <div class="col-md-12">-->
<!--                                        <label>Address</label>-->
<!--                                        <input class="form-control" type="text" placeholder="Address">-->
<!--                                    </div>-->
<!--                                    <div class="col-md-6">-->
<!--                                        <label>Country</label>-->
<!--                                        <select class="custom-select">-->
<!--                                            <option selected>United States</option>-->
<!--                                            <option>Afghanistan</option>-->
<!--                                            <option>Albania</option>-->
<!--                                            <option>Algeria</option>-->
<!--                                        </select>-->
<!--                                    </div>-->
<!--                                    <div class="col-md-6">-->
<!--                                        <label>City</label>-->
<!--                                        <input class="form-control" type="text" placeholder="City">-->
<!--                                    </div>-->
<!--                                    <div class="col-md-6">-->
<!--                                        <label>State</label>-->
<!--                                        <input class="form-control" type="text" placeholder="State">-->
<!--                                    </div>-->
<!--                                    <div class="col-md-6">-->
<!--                                        <label>ZIP Code</label>-->
<!--                                        <input class="form-control" type="text" placeholder="ZIP Code">-->
<!--                                    </div>-->
<!--                                    <div class="col-md-12">-->
<!--                                        <div class="custom-control custom-checkbox">-->
<!--                                            <input type="checkbox" class="custom-control-input" id="newaccount">-->
<!--                                            <label class="custom-control-label" for="newaccount">Create an account</label>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <div class="col-md-12">-->
<!--                                        <div class="custom-control custom-checkbox">-->
<!--                                            <input type="checkbox" class="custom-control-input" id="shipto">-->
<!--                                            <label class="custom-control-label" for="shipto">Ship to different address</label>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="col-md-12">&ndash;&gt;-->
<!--                                        <div class="custom-control custom-checkbox">-->
<!--                                            <input type="checkbox" class="custom-control-input" id="shipto" onchange="redirectToAddressPage(this)">-->
<!--                                            <label class="custom-control-label" for="shipto">Ship to different address</label>-->
<!--                                        </div>-->
<!--                                    </div>-->


<div class="col-md-12">
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="shipto" onchange="redirectToAddressPage(this)">
        <label class="custom-control-label" for="shipto">Ship to different address</label>
    </div>
</div>






                            </div>

                            <div class="shipping-address">
                                <h2>Shipping Address</h2>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>First Name</label>
                                        <input class="form-control" type="text" placeholder="First Name">
                                    </div>
                                    <div class="col-md-6">
                                        <label>Last Name"</label>
                                        <input class="form-control" type="text" placeholder="Last Name">
                                    </div>
                                    <div class="col-md-6">
                                        <label>E-mail</label>
                                        <input class="form-control" type="text" placeholder="E-mail">
                                    </div>
                                    <div class="col-md-6">
                                        <label>Mobile No</label>
                                        <input class="form-control" type="text" placeholder="Mobile No">
                                    </div>
                                    <div class="col-md-12">
                                        <label>Address</label>
                                        <input class="form-control" type="text" placeholder="Address">
                                    </div>
                                    <div class="col-md-6">
                                        <label>Country</label>
                                        <select class="custom-select">
                                            <option selected>United States</option>
                                            <option>Afghanistan</option>
                                            <option>Albania</option>
                                            <option>Algeria</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label>City</label>
                                        <input class="form-control" type="text" placeholder="City">
                                    </div>
                                    <div class="col-md-6">
                                        <label>State</label>
                                        <input class="form-control" type="text" placeholder="State">
                                    </div>
                                    <div class="col-md-6">
                                        <label>ZIP Code</label>
                                        <input class="form-control" type="text" placeholder="ZIP Code">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">


                        <div class="checkout-inner">

                             <div class="container">
        <div class="checkout-summary">
            <h1 class="resize-text">Cart Total</h1>
            {% for cart in cart_items %}
            <div class="card-title resize-text"><p class="cart-shop">{{cart.product.variant_name}}</p><span style="font-weight:600">{{cart.product.product_price}}*{{cart.quantity}}</span></div>
            {% endfor %}
            <p class="sub-total resize-text">Sub Total<span><i class="fas fa-rupee-sign"></i>{{mrp}}</span></p>
            <p class="discount resize-text">Discount<span><i class="fas fa-rupee-sign"></i>{{discount}}</span></p>
            <p class="coupon resize-text">Coupon<span><i class="fas fa-rupee-sign"></i>{{coupon}}</span></p>
            <p class="tax resize-text">Tax<span><i class="fas fa-rupee-sign"></i>{{tax}}</span></p>
            <p class="shipping resize-text">Shipping Cost<span><i class="fas fa-rupee-sign"></i>{{shipping}}</span></p>
            <h2 class="resize-text">Grand Total<span><i class="fas fa-rupee-sign"></i>{{grand_total}}</span></h2>
        </div>
       </div>
                            <form action="" method="POST">
                                {% csrf_token %}
                            <div class="checkout-payment">
                                <div class="payment-methods">
                                    <h1>Payment Methods</h1>
                                    <div class="payment-method">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" id="payment-1" name="payment">
                                            <label class="custom-control-label" for="payment-1">Paypal</label>
                                        </div>
                                        <div class="payment-content" id="payment-1-show">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt orci ac eros volutpat maximus lacinia quis diam.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="payment-method">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" id="payment-2" name="payment">
                                            <label class="custom-control-label" for="payment-2">Payoneer</label>
                                        </div>
                                        <div class="payment-content" id="payment-2-show">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt orci ac eros volutpat maximus lacinia quis diam.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="payment-method">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" id="payment-3" name="payment">
                                            <label class="custom-control-label" for="payment-3">Check Payment</label>
                                        </div>
                                        <div class="payment-content" id="payment-3-show">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt orci ac eros volutpat maximus lacinia quis diam.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="payment-method">
                                        <div class="custom-control custom-radio">
<!--                                            <input type="radio" class="custom-control-input" id="rzp-button1" name="payment">-->
<!--                                            <label class="custom-control-label" for="rzp-button1">Pay with razorpay</label>-->
<!--                                            <form method="post" action="">-->
<!--                                                 <input type="text" class="custom-control-input" id="" name="payment" value="razorpay">-->
                                                <button id="rzp-button1" value="razorpay" name="payment">Pay with Razorpay</button>
<!--                                            </form>-->

                                        </div>
                                        <div class="payment-content" id="payment-4-show">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt orci ac eros volutpat maximus lacinia quis diam.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="payment-method">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" id="payment-5" name="payment" value="cod">
                                            <label class="custom-control-label" for="payment-5">Cash on Delivery</label>
                                        </div>
                                        <div class="payment-content" id="payment-5-show">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt orci ac eros volutpat maximus lacinia quis diam.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="checkout-btn">
                                    <button type="submit">Place order</a></button>
                                </div>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<script>
    function redirectToAddressPage(checkbox) {
        if (checkbox.checked) {
            // Redirect to the address page
            window.location.href = "{% url 'checkout' %}";
        }
    }
</script>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
var options = {
    "key": "rzp_test_3DaVx3D81cl8r1", // Enter the Key ID generated from the Dashboard
    "amount": "50000", // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
    "currency": "INR",
    "name": "Ecommerce",
    "description": "Purchase",
    "image": "https://example.com/your_logo",
    "order_id": "order_IluGWxBm9U8zJ8", //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
    "handler": function (response){
        alert(response.razorpay_payment_id);
        alert(response.razorpay_order_id);
        alert(response.razorpay_signature)
    },
    "prefill": {
        "name": "Gaurav Kumar",
        "email": "gaurav.kumar@example.com",
        "contact": "9000090000"
    },
    "notes": {
        "address": "Razorpay Corporate Office"
    },
    "theme": {
        "color": "#3399cc"
    }
};
var rzp1 = new Razorpay(options);
rzp1.on('payment.failed', function (response){
        alert(response.error.code);
        alert(response.error.description);
        alert(response.error.source);
        alert(response.error.step);
        alert(response.error.reason);
        alert(response.error.metadata.order_id);
        alert(response.error.metadata.payment_id);
});
document.getElementById('rzp-button1').onclick = function(e){
    rzp1.open();
    e.preventDefault();
}
</script>


<script>


document.getElementById("rzp-button1").addEventListener("click", function(event) {
    // Your event handling code here
    console.log("Button clicked"); // Example: Log a message to the console
    // You can add more code to handle the click event
});
</script>


{% endblock %}