
{% extends 'userview/base.html' %}
{% load static %}
{% block content %}
        <div class="checkout">
            <div class="container-fluid">
                <div class="messages" style="    color: red;
    text-align: left;
    margin-left: 17%;
    margin-bottom: 3%;
}">
         {% for message in messages %}
                                {{ message }}
                            {% endfor %}
     </div>
                <div class="row">
                    <div class="col-lg-8">
                        <div class="checkout-inner">

                            <div class="billing-address">
                                <h2>Deliver to this Address</h2>


        <div class="col-md-12">
            <div class="card mb-12">
                <div class="card-body">
                     <div class="dropdown position-absolute" style="top: 0; right: 0;">
                      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <!-- Three-dot icon -->
                        ⋮
                      </button>
                         {% if address%}
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                       <a class="dropdown-item" href="{% url 'updateaddress' id=address.id o_id=1 %}">Update</a>
<!--                      -->
                      </div>
                         {% endif %}
                    </div>
                    {% if address%}
                    <h5 class="card-title">{{ address.name }}</h5>
                    <p class="card-text">Address: {{ address.address }}</p>
                    <p class="card-text">Town: {{ address.town }}</p>
                     <p class="card-text">Mobile: {{ address.alt_mobile }}</p>
                    <p class="card-text">Zipcode: {{ address.zipcode }}</p>
                    <p class="card-text">Location: {{ address.nearby_location }}</p>
                    <p class="card-text">District: {{ address.district }}</p>
                    <p class="card-text">State: {{ address.state }}</p>

                    {% endif %}
                    <!-- Add other fields as needed -->
                </div>








            </div>
        </div>




<div class="col-md-12">
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="shipto" onchange="redirectToAddressPage(this)">
        <label class="custom-control-label" for="shipto">Ship to different address</label>
    </div>
</div>






                            </div>

                            <div class="shipping-address">
                                <h2>Shipping Address</h2>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>First Name</label>
                                        <input class="form-control" type="text" placeholder="First Name">
                                    </div>
                                    <div class="col-md-6">
                                        <label>Last Name"</label>
                                        <input class="form-control" type="text" placeholder="Last Name">
                                    </div>
                                    <div class="col-md-6">
                                        <label>E-mail</label>
                                        <input class="form-control" type="text" placeholder="E-mail">
                                    </div>
                                    <div class="col-md-6">
                                        <label>Mobile No</label>
                                        <input class="form-control" type="text" placeholder="Mobile No">
                                    </div>
                                    <div class="col-md-12">
                                        <label>Address</label>
                                        <input class="form-control" type="text" placeholder="Address">
                                    </div>
                                    <div class="col-md-6">
                                        <label>Country</label>
                                        <select class="custom-select">
                                            <option selected>United States</option>
                                            <option>Afghanistan</option>
                                            <option>Albania</option>
                                            <option>Algeria</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label>City</label>
                                        <input class="form-control" type="text" placeholder="City">
                                    </div>
                                    <div class="col-md-6">
                                        <label>State</label>
                                        <input class="form-control" type="text" placeholder="State">
                                    </div>
                                    <div class="col-md-6">
                                        <label>ZIP Code</label>
                                        <input class="form-control" type="text" placeholder="ZIP Code">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">


                        <div class="checkout-inner">

                             <div class="container">
        <div class="checkout-summary">
            <h1 class="resize-text">Cart Total</h1>
            {% for cart in cart_items %}
            <div class="card-title resize-text"><p class="cart-shop">{{cart.product.variant_name}}</p><span style="font-weight:600">{{cart.product.product_price}}*{{cart.quantity}}</span></div>
            {% endfor %}
            <p class="sub-total resize-text">Sub Total<span><i class="fas fa-rupee-sign"></i>{{mrp}}</span></p>
            <p class="discount resize-text">Discount<span><i class="fas fa-rupee-sign"></i>{{discount}}</span></p>
             <p class="discount resize-text">Category Discount<span><i class="fas fa-rupee-sign"></i>{{category_offer_amount}}</span></p>
            <p class="coupon resize-text">Coupon<span><i class="fas fa-rupee-sign"></i>{{coupon}}</span></p>
            <p class="tax resize-text">Tax<span><i class="fas fa-rupee-sign"></i>{{tax}}</span></p>
            <p class="shipping resize-text">Shipping Cost<span><i class="fas fa-rupee-sign"></i>{{shipping}}</span></p>
            <h2 class="resize-text">Grand Total<span><i class="fas fa-rupee-sign"></i>{{grand_total}}</span></h2>
        </div>
       </div>
                            <form action="" method="POST">
                                {% csrf_token %}
                            <div class="checkout-payment">
                                <div class="payment-methods">
                                    <h1>Payment Methods</h1>
                                   <div class="payment-method">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" id="payment-razorpay" name="payment" value="razorpay">
                                            <label class="custom-control-label" for="payment-razorpay">Razorpay</label>
                                        </div>
                                        <div class="payment-content" id="payment-razorpay-show">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt orci ac eros volutpat maximus lacinia quis diam.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="payment-method">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" id="payment-5" name="payment" value="cod">
                                            <label class="custom-control-label" for="payment-5">Cash on Delivery</label>
                                        </div>
                                        <div class="payment-content" id="payment-5-show">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt orci ac eros volutpat maximus lacinia quis diam.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="payment-method">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" id="payment-6" name="payment" value="wallet">
                                            <label class="custom-control-label" for="payment-6">Wallet</label>
                                        </div>
                                        <div class="payment-content" id="payment-6-show">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt orci ac eros volutpat maximus lacinia quis diam.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="checkout-btn">
                                    <input type="hidden" id="order_id" value="{{ razorpay_order_id }}">
                                    <button type="submit" id="place-order">Place order</a></button>

                                    <input type="hidden" id="razorpay-name" value="{{ user.first_name }} {{ user.last_name }}">
<input type="hidden" id="razorpay-email" value="{{ user.email }}">
                                </div>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<script>
    function redirectToAddressPage(checkbox) {
        if (checkbox.checked) {
            // Redirect to the address page
            window.location.href = "{% url 'checkout' %}";
        }
    }
</script>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
function handleRazorpayPayment() {
        var options = {
            "key": "rzp_test_RaBoXTuzoN2GJs", // Enter the Key ID generated from the Dashboard
            "amount": "{% widthratio grand_total 1 100 %}", // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
            "currency": "INR",
            "name": "EStore",
            "description": "Test Transaction",
            "image": "https://example.com/your_logo",
            "order_id": "{{razorpay_order_id}}",
            "handler": function (response){
                 var callbackURL = '{{ callback }}';
            var razor_id = response.razorpay_payment_id;
            // Append Razorpay payment method value and payment ID to the URL query string
            callbackURL += '?payment_method=razorpay&razor_id=' + razor_id;
            // Redirect to the callback URL
            window.location.href = callbackURL;
            },

  "theme": {
                "color": "#3399cc"
            }
        };
        console.log(options)
         var rzp1 = new Razorpay(options);
         var rzp1 = new Razorpay(options);

            rzp1.on('payment.failed', function (response){
            var errorInfo = {
                code: response.error.code,
                description: response.error.description,
                reason: response.error.reason,
                order_id: response.error.metadata.order_id,
                payment_id: response.error.metadata.payment_id
            };
            var errorURL = '{{ callback }}';
            errorURL += '?payment_failed=true';
            errorURL += '&error_code=' + errorInfo.code;
            errorURL += '&error_description=' + errorInfo.description;
            // Redirect the user to the error view
            window.location.href = errorURL;
         });

        rzp1.open();
    }
    // Event listener for radio button change
    document.getElementById('place-order').addEventListener('click', function() {
         // Check if Razorpay radio button is selected
                var razorpayRadio = document.getElementById('payment-razorpay');
         if (razorpayRadio.checked) {
             handleRazorpayPayment();
             event.preventDefault();
        } else {
             // Proceed with other payment methods
        }
    });
</script>
{% endblock %}


