
{% extends 'userview/index.html' %}
{% load static %}
{% block content %}


<div class="container">
    <div class="row">
        <div class="col-md-12">
            {% if query %}
             <div class="mx-auto">

  </div>
                <h2 class="mt-4 mb-3">Search results for "{{ query }}"</h2>

                <div class="row">
                    {% for i in listproducts %}
                        <div class="col-md-6 mb-4">
                            <div >
                                <div>
                                    <h5 class="card-title"><a href="#">{{i.product.product_name|upper}}</a></h5>
                                    <div class="rating">
                                        <span title="{{ i.rating }}/5">
                                        <!-- By default the star is full else it is empty otherwise it is half -->
                                        <i style="color:yellow" class="fa fa-star{% if i.rating < 0.5%}-o{% elif i.rating >= 0.5 and i.rating < 1 %}-half-o{% endif %}" aria-hidden="true"></i>
                                        <i  style="color:yellow" class="fa fa-star{% if i.rating < 1.5%}-o{% elif i.rating >= 1.5 and i.rating < 2 %}-half-o{% endif %}" aria-hidden="true"></i>
                                        <i  style="color:yellow" class="fa fa-star{% if i.rating < 2.5%}-o{% elif i.rating >= 2.5 and i.rating < 3 %}-half-o{% endif %}" aria-hidden="true"></i>
                                        <i style="color:yellow" class="fa fa-star{% if i.rating < 3.5%}-o{% elif i.rating >= 3.5 and i.rating < 4 %}-half-o{% endif %}" aria-hidden="true"></i>
                                        <i style="color:yellow" class="fa fa-star{% if i.rating < 4.5%}-o{% elif i.rating >= 4.5 and i.rating < 5 %}-half-o{% endif %}" aria-hidden="true"></i>
                                    </span>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                              <a href="{% url 'productdetail' i.id %}">
                                                <img src="{{i.product.product_image.url}}" style="text-align:center" width="500" height="300" class="img-fluid" alt="Product Image">
                                            </a>
                                             <div class="col-md-6">
                                            <h3 class="card-text"><i class="fas fa-rupee-sign"></i><b>{{i.discounted_price|floatformat:"0"}}</b> <small><del><b>{{i.product_price|floatformat:"0"}}</b></del></small></h3>
                                            <a href="#" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Buy Now</a>
                                        </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    {% empty %}
                       <div class="col-md-12 text-center">
<div class="col-md-12">
            <div class="card mb-4 shadow-sm text-center">
                <div class="card-body">
                    <h2 class="mt-5" style="color:#FF6F61">No results found </h2><p class="lead">Check back later for updates or explore other categories.</p>
                </div>
            </div>
        </div>

                    {% endfor %}
                </div></div><br>
            {% endif %}
        </div>
    </div>
</div>



{% endblock %}
