{% extends 'userview/base.html' %}
{% load static %}
{% block content %}
        
        <!-- Breadcrumb Start -->
        <div class="breadcrumb-wrap">
            <div class="container-fluid">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'userindex' %}">Home</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'productlist' %}">Products</a></li>
                    <li class="breadcrumb-item active">My Account</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumb End -->
        
        <!-- My Account Start -->
        <div class="my-account">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3">
                        <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
                            <a class="nav-link active"  href="{% url 'userprofile' %}" role="tab"><i class="fa fa-tachometer-alt"></i>Dashboard</a>
                            <a class="nav-link"  href="{% url 'orderslist' %}" ><i class="fa fa-shopping-bag"></i>Orders</a>
                            <a class="nav-link"  href="{% url 'add_wallet' %}" ><i class="fa fa-shopping-bag"></i>Wallet</a>

                            <a class="nav-link"  href="{% url 'addressbook' %}" ><i class="fa fa-map-marker-alt"></i>address</a>
                            <a class="nav-link"  href="{% url 'changeuserpassword' %}" ><i class="fa fa-map-marker-alt"></i>change password</a>
                            <a class="nav-link"  href="{% url 'profiledetails' %}" role="tab"><i class="fa fa-user"></i>Account Details</a>

                        </div>
                    </div>

                    <div class="col-md-9">

                        <div class="tab-content" style="    height: 105%;">
                            <div class="container">

                                <!-- Display user-related data here -->
                            </div>
                            {% block inner_content %}
                                        <div class="container">
                                    <h2>User Profile</h2>
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">Username: {{ user.first_name }}</h5>
                                            <p class="card-text">Email: {{ user.email }}</p>
                                            <!-- Add more profile information such as name, address, etc. -->
                                        </div>
                                    </div>
                                </div>
                            {% endblock %}
                        </div>
                    </div>
                </div>


            </div>
        </div>
        </div>
        
      {% endblock %}